
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>@ViewData["Title"] - www.kh10086.com</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/swiper.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script type="text/javascript" src="pie/PIE.js"></script>
    <script type="text/javascript">
        $(function () {
            if (window.PIE) {
                $('.sm').each(function () {
                    PIE.attach(this);
                });
            }
        });
    </script>
    <![endif]-->
</head>
<body>
    <!-- 一键定制弹窗 -->
    <div class="blueDialog"></div>
    <!-- header start -->
    <header>
        <div class="container-fluid header">
            <div class="row">
                <div class="col-md-2 col-xs-4">
                    <a class="logo" href="javascript:;"><img src="img/logo.png" alt=""></a>
                </div>
                <div class="col-md-8 col-xs-8 col-md-offset-2 text-right">
                    +010 8476 6802
                    <button class="btn btn-lan" data-lan="1">En</button>
                    <a href="javascript:;" class="btn btn-custom" data-toggle="modal" data-target="#testModal">一键定制</a>
                </div>
            </div>
        </div>

        <!-- nav start -->
        @*@await Html.PartialAsync("~/Views/Partial/_NavigationBar.cshtml")*@
        @await Component.InvokeAsync("NavigationBar")
        <!-- nav end -->
    </header>
    <!-- header end -->
    @RenderBody()

    <footer class="container-fluid blue_bg blue_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="blue_footer_title">蓝精灵旅游</div>
                    <div class="row blue_footer_list">
                        <ul class="col-md-4 col-xs-4">
                            <li><a href="#">目的地</a></li>
                            <li><a href="#">我们的旅程</a></li>
                            <li><a href="#">竞选酒店</a></li>
                            <li><a href="#">关于我们</a></li>
                        </ul>
                        <ul class="col-md-4 col-xs-4">
                            <li><a href="#">客人评价</a></li>
                            <li><a href="#">宣传手册</a></li>
                            <li><a href="#">优惠特选</a></li>
                            <li><a href="#">合作伙伴</a></li>
                        </ul>
                        <ul class="col-md-4 col-xs-4">
                            <li><a href="#">隐私政策</a></li>
                            <li><a href="#">条款条件</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="blue_footer_title">订阅</div>
                    <div class="col-md-8 col-xs-12 blue_footer_take">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="填写邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">发送</button>
                            </span>
                        </div>
                        <p>发送邮箱订阅我们，我们会根据您的喜好来进行定制旅程</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="blue_footer_title">联系我们</div>
                    <div class="blue_footer_tel">
                        <p>地址: 北京市朝阳区望京园402号楼<br>东亚望京中心B座3802</p>
                        <p>电话: +86-010-8476-6802</p>
                        <p>邮箱: contactus@bluespiritvoyages.com</p>
                    </div>
                </div>
            </div>
            <div class="row blue_link">
                <div class="col-md-8 col-xs-12">
                    <div class="blue_footer_link">
                        <a href="#"><img src="img/link-logo.png" alt=""></a>
                    </div>
                    <div class="blue_footer_link">
                        <a href="#"><img src="img/link-logo.png" alt=""></a>
                    </div>
                    <div class="blue_footer_link">
                        <a href="#"><img src="img/link-logo.png" alt=""></a>
                    </div>
                    <div class="blue_footer_link">
                        <a href="#"><img src="img/link-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 blue_code">
                    <div class="col-md-3 col-xs-12">
                        <img src="img/code_1.jpg" alt="">
                        <p>官方公众号</p>
                        <p>Blue Spirit</p>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="img/code_2.jpg" alt="">
                        <p>官方微博</p>
                        <p>Blue Spirit</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="blue_copy">
        <div class="container">© 2017 YOUR COMPANY. DESIGNED BY EVEN DESIGN STUDIO</div>
    </section>


    <div class="blue_fixed">
        <span class="btn_fixed_close"></span>
        <h2>优惠精选</h2>
        <p>还没有找到你的下一个旅行吗，我们这里有一些高性价比的</p>
        <a href="#">查看更多</a>
    </div>

    <div class="blue_share">
        <div class="blue_share_btn">
            <div class="blue_share_icon blue_wx"></div>
            <div class="blue_share_icon blue_mail"></div>
        </div>
        <div class="blue_share_wx">
            <img src="img/share-wx.png" alt="">
            <p>扫描二维码即刻关注我们</p>
        </div>
        <div class="blue_share_mail">
            <p>地址: 北京市朝阳区望京园402号楼<br>东亚望京中心B座3802</p>
            <p>电话: +86-010-8476-6802</p>
            <p>邮箱: contactus@bluespiritvoyages.com</p>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/dialog.js"></script>
    <script src="~/js/page.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>