[*.cs]

# IDE0058: 永远不会使用表达式值
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none


# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
