<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!--测试环境配置-->
    <!--<add key="UtourApiUrl" value="http://129.204.184.147:8002/"/>
    <add key="visitCode" value="HMYD"/>
    <add key="signKey" value="ff316yyeafaxd53ba033x06x11e7xade"/>
    <add key="userCode" value="AGENT201908091643194"/>
    <add key="token" value="agentTest"/>
    <add key="accpCode" value="111558"/>-->

    <add key="connString" value="Provider=Microsoft.Jet.OLEDB.4.0;Persist Security Info=False;Data Source=C:\ftp\#zyzmyxhuayuweblygswzs.mdb;" />

    <!--正式环境配置-->
    <add key="UtourApiUrl" value="http://129.204.184.147:8002/" />
    <add key="visitCode" value="HNKH" />
    <add key="signKey" value="1ey53c6a8ebbfe0dyc301cy5c010y1bx" />
    <add key="userCode" value="AGENT201911151338295" />
    <add key="token" value="agentApi1024" />
    <add key="accpCode" value="530015" />
    <add key="userId" value="118078" />
    <!--导入分类编号-->
    <add key="classId" value="143" />
    <add key="Debugger" value="true" />
    
    <add key="FTPAddress" value="ftp://116.255.135.162:212" />
    <add key="FTPUsername" value="kh10086" />
    <add key="FTPPwd" value="Fq9pmKw4XT" />

    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
